:root{
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color:#18A0FB;
    --primary-white-color:#ffffff;
}



body{
background-color: var(--primary-white-color);
color:var(--primary-text-color);
}
.list{
    list-style: none;
}

.logo{
    color:var(--title-text-color);
    font-size: 50px;
}
.logo:hover{
    color:var(--accent-color);
}

/* site-nav  */
.site-nav .linc{
    color:var(--accent-color);
}
.site-nav .linc:hover,
.site-nav .linc:focus{
    color:var(--title-text-color);
}

.site-nav .linc.current{
    color:var(--title-text-color);
}